*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #575755;
    padding: 10px 20px;
    text-align: center;
    display: flex;
}
.menu {
    margin-left: 40%; 

    display: flex;
    gap: 20px;
    align-items: center;
}
.menu li {
    list-style: none;
}


a:hover{
    color: #ff0000;
}
h2{
   padding: 5px;
}
img {
  border-radius: 50%;
}

a{
    text-decoration: none;
    color: white;
}
main h1{
    color: #222221;
    text-align: center;
    margin-top: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color:#5e5e5e;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
a#link:hover{
    font-weight: bold;
}
a#link{
    font-weight: bold;
    text-decoration: underline;
}
