*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    font-weight: bolder;
    font-size: 20px;
}
.menu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu li {
    list-style: none;
}


a:hover{
    color: #2d8c9c;
}

img#logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
}
p{
    font-size: 20px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;  
    color: rgb(255, 0, 0);
}

main h1{
    color: #000000;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color:#000000;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1vh;
    position: fixed;
    width: 100%;
    bottom: 0;
}
a#link{
    font-weight: bold;
    text-decoration: underline;
}
div#container{
    display: flex;
}
div#descrição{
    width: 40%;
    margin-left: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #000000;
    margin-right: 20px;
    background-color: red;
}
main{
    background-color: #575755;
}
body{
    background-color: rgb(255, 0, 0)  ;
}

