*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    color: #000000;
}
.menu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgb(255, 0, 0);
}
.menu li {
    list-style: none;
    color: rgb(255, 0, 0);
}
body{
    background-color: #000000;
}
a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
nav a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
main{
    
    height: 89vh;
    color: #ffffff;
}
div#footer{
    background-color: #000000;
    color: white;
    padding: 1.5em;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    display: flex;
    padding-top: 1.5em;
    flex-wrap: wrap;
    align-items: center;
}
img#imgfooter{
   width: 70%;
   height: 40%;
   border-radius: 10px;
}
ul#contato{
    list-style: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-left: auto;
}
footer{
    background-color:#000000;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 2em;
    padding-top: 5px;
}
@media (min-width: 1920px) {
    img#imgfooter {
        margin-left: 100px;
    }
   ul#contato {
       margin-right: 100px;
   }